$primary-font-color: #f0f8ff;
$primary-background-color: #131313;
$box-border-color: rgba(255, 255, 255, 0.329);

.App {
  text-align: center;
  color: $primary-font-color;
  background: $primary-background-color;

  //   code {
  //     background: #fff3;
  //     padding: 4px 8px;
  //     border-radius: 4px;
  //   }

  p {
    margin: 0.4rem;
  }
}

/* Grid  */
.workspace-grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 80% minmax(250px, 1fr);
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    "header header"
    "simulation devices"
    "simulation devices"
    "footer footer";
  column-gap: 22px;
  row-gap: 15px;

  .header {
    grid-area: header;
    // color: --delta-font-color; // remove
    // font-size: 2rem;
  }

  .side-navbar {
    grid-area: left-nav;
  }

  .groups-control {
    grid-area: groups;
  }

  .devices-grouping {
    grid-area: devices;
  }

  .footer {
    grid-area: footer;
  }
}
/* CANVAS */
.cloud-simulation {
  // z-index: -1;
  // position: absolute;
  // left: 0;
  // top: 0;
  width: 100%;
  height: 100%;
  grid-area: simulation;
}

/*  */
.btn {
  color: $primary-font-color;
  background-color: rgb(1, 1, 95);
  border-radius: 2px;
  opacity: 1;
  padding: 0.5rem 1rem;

  &.loading {
    opacity: 0.5;
  }
}

.wled-device-list {
  background: rgb(90, 90, 90);
  padding: 0.5rem 1rem;

  .ip-input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;

    input {
      margin-left: 0.5rem;
      width: 100%;
    }
  }

  .wled-device {
    margin: 0.25rem 0;
    display: grid;
    grid-template-areas:
      "name ip"
      "color color";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 2rem;
    justify-items: start;

    .name {
      grid-area: name;
    }

    .sync-on {
      font-weight: 600;
    }

    .ip-link {
      grid-area: ip;
      justify-self: end;
    }

    .led-colors {
      grid-area: color;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fill, 1fr);
      width: 100%;
      background: $primary-background-color;

      .color {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.glow-on-hover {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border: 1px $box-border-color solid;
  box-shadow: $box-border-color 0px 20px 30px -11px;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
