$primary-font-color: #f0f8ff;
$primary-background-color: rgb(44, 44, 44);

.App {
  text-align: center;
  color: $primary-font-color;
  background: $primary-background-color;

  //   code {
  //     background: #fff3;
  //     padding: 4px 8px;
  //     border-radius: 4px;
  //   }

  p {
    margin: 0.4rem;
  }
}

/* Grid  */
.workspace-grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 80px auto max(200px, 20%);
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    "header header header"
    "left-nav groups devices"
    "left-nav scenes devices"
    "footer footer footer";
  column-gap: 22px;
  row-gap: 15px;

  .header {
    grid-area: header;
    font-size: 2rem;
  }

  .side-navbar {
    grid-area: left-nav;
  }

  .groups-control {
    grid-area: groups;
  }

  .devices-grouping {
    grid-area: devices;
  }

  .footer {
    grid-area: footer;
  }
}
/* CANVAS */
.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/*  */
.btn {
  color: $primary-font-color;
  background-color: rgb(1, 1, 95);
  border-radius: 2px;
  opacity: 1;
  padding: 0.5rem 1rem;

  &.loading {
    opacity: 0.5;
  }
}

.wled-device-list {
  background: rgb(90, 90, 90);
  padding: 0.5rem 1rem;

  .wled-device {
    margin: 0.5rem 0;
    display: grid;
    grid-template-areas:
      "name ip"
      "color color";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 2rem;
    justify-items: start;

    .name {
      grid-area: name;
    }

    .ip-link {
      grid-area: ip;
      justify-self: end;
    }

    .led-colors {
      grid-area: color;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fill, 1fr);
      width: 100%;
      background: $primary-background-color;

      .color {
        height: 100%;
        width: 100%;
      }
    }
  }
}
