.App {
  text-align: center;
  min-height: 100vh;
  background: rgb(26, 26, 26);
  color: aliceblue;
  padding: 2em 2em;
}
.App code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}
