.App {
  text-align: center;
  background: rgb(26, 26, 26);
  color: aliceblue;
}
.App code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

/* Grid  */
.App .grid {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 80px auto 200px;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas:
    'header header header'
    'left-nav groups devices'
    'left-nav scenes devices'
    'footer footer footer';
  column-gap: 22px;
  row-gap: 15px;
}

.header {
  grid-area: header;
}

.side-navbar {
  grid-area: left-nav;
}

.groups-control {
  grid-area: groups;
}

.devices-grouping {
  grid-area: devices;
}

.footer {
  grid-area: footer;
}

/*  */
